body {
  text-align: center;
  background-color: #eff4f9;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-top: 120px;
  color: #242e42;
}
h1 {
  font-size: 40px;
  line-height: 56px;
}
p {
  font-size: 14px;
  line-height: 20px;
}
p span {
  font-weight: bold;
  background-color: #f5a623;
  color: #fff;
  padding: 8px ;
  border-radius: 3px;
}
div {
  margin: 0 auto;
  width: 280px;
  height: 48px;
  display: block;
  background-image: url(../images/logo.svg) ;
  background-repeat: no-repeat;
  background-position: center;
}
a {
  color: #00B7FF;
}
